
<!-- START BACKLOG SECTION  -->
<div class="col-md-12">

 <div class="row">
    <!-- <p class="section-title col-md-12">Backlog</p> -->

    <!-- START HEADER BCKLOG  -->
    <p class="section-title col-md-6"><label class="sky-blue pointer position-left" id="new_us" onclick="show_popup_us()">Ajouter</label>Users Stories</p>
    <p class="section-title col-md-2">Ordre</p>
    <p class="section-title col-md-2">Priorité</p>
    <p class="section-title col-md-2">Difficultés</p>
    <!-- END HEADER BACKLOG -->

    <!-- START BACKLOG CONTENT -->
    <div class="section-content col-md-12">
      
      <div ng-repeat="us in current_backlog">
         <p class="col-md-6 pointer"><i class="fa fa-close red pointer position-left" id='del_us_{{$index}}' ng-click="removeUs($index)"></i>{{us['name']}}</p>
         <p class="col-md-2">{{us['order']}}</p>
         <p class="col-md-2">{{us['priority']}}</p>
         <p class="col-md-2">{{us['difficulty']}}</p>
      </div>

    </div>
    <!-- END BACKLOG CONTENT -->


    <!-- START GRANULARITY CHART SECTION -->
    <!-- <div class="col-md-12 margin-top-10px">
      <div class="row">
         <p class="section-title col-md-12">Granularity chart</p>
      </div>

      <canvas class="col-md-12" id="canvas-granularity"></canvas>

    </div> -->
    <!-- END GRANULARITY CHART SECTION -->

 </div>

</div>
<!-- END BACKLOG SECTION  -->

<!-- GRANULARITY CHART -->
<script type="text/javascript-lazy">
	makeGranularityChartData();
</script>
