
<!-- START DEPENDENCIES SECTION  -->
<div class="col-md-12">

 <div class="row">

	<div class="section-title col-md-12 text-align">
    	<label class="position-back pointer" ng-click="slide_page('user-stories')">Retour</label>
    	dépendences - {{current_task['name']}}
    </div><br/><br/>

    <!-- START HEADER DEPENDENCIES  -->
    <p class="section-title col-md-1 sky-blue pointer" id="new_us" ng-click="makeOtherTaskList()">Ajouter</p>
    <!-- <p class="section-title col-md-1">ID</p> -->
    <p class="section-title col-md-5">Nom</p>
    <p class="section-title col-md-4">Assigned</p>
    <p class="section-title col-md-1">Ordre</p>
    <p class="section-title col-md-1">Coût</p>
    <!-- END HEADER DEPENDENCIES -->

	

    <!-- START DEPENDENCIES CONTENT -->
    <div class="section-content col-md-12">
      
      <div ng-repeat="task in current_dep_tasks">

		 <p class="col-md-1">
         <i class="fa fa-close red pointer position-del" id="del_dep_{{getIndex(tasks,task['id'])}}" ng-click="removeDep(getIndex(tasks,task['id']),task['id'])"></i>
         </p>
         <!-- <p class="col-md-1">{{task['id']}}</p> -->
         <p class="col-md-5">{{task['name']}}</p>
         <p class="col-md-4">{{task['assigned']}}</p>
         <p class="col-md-1">{{task['order']}}</p>
         <p class="col-md-1">{{task['cost']}}</p>
      </div>

    </div>
    <!-- END DEPENDENCIES CONTENT -->

 </div>

</div>
<!-- END DEPENDENCIES SECTION  -->
