<div class="col-md-8">
    <div class="row">
    
    	<p class="section-title col-md-1 sky-blue pointer" id="btn_new_user" onclick="show_popup_team()">Ajouter</p>
        <p class="section-title col-md-7">Membres</p>
        <p class="section-title col-md-4">Droits</p> 
        
        <div class="section-content col-md-12">
            <div ng-repeat="member in projects[current_project]['members']">
              <p class="col-md-1"><i class="fa fa-close red pointer position-del" ng-click="removeMembre($index)"></i></p>
              <p class="col-md-7">{{member.name}}</p>
              <p class="col-md-4">{{member.canEdit}}</p>
            </div>
        </div>				
    </div>
</div>
